<html>
	<head>
		<title>Sveta's blog</title>
	</head>
	<body>
		<div>
			<h1><a href="/">Sveta's Blog</a></h1>
		</div>
		<p>Hi there!</p>
		<div>
			<p>published: 23.05.2023, 16:13</p>
			<h2><a href="">My first post</a></h2>
			<p>The first post or not the first post? That is the question.</p>
		</div>
		<div>
			<p>published: 23.05.2023, 16:16</p>
			<h2><a href="">My second post</a></h2>
			<p>Continue or not continue? That is the question.</p>
		</div>
		{% for post in posts %}
			<div>
				<p>published: {{ post.published_date }}</p>
				<h1><a href="">{{ post.title }}</a></h1>
				<p>{{ post.text|linebreaksbr }}</p>
			</div>
		{% endfor %}
	</body>
</html>